
@{
    ViewBag.Title = "PostMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PostMethod</h2>
<h1>@ViewBag.Age</h1>
<form action="/Home/PostMethod" method="post">

    <input type="number" name="Age" value="Age" placeholder="Age" id="Age" />
    <input type="submit"  name="Submit" value="Submit Age" />
</form>

